@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#output.dark {
  color: #fff;
}

#output.light {
  color: #000;
}

#runButton {
  background-color: #387478;
  color: #fff;
  padding: 10px 15px;
}

.main-wrap.dark {
  background-color: #1e1e1e;
}

.main-wrap.light {
  background-color: #fff;
}

.utils-wrap {
  background-color: #232b36;
}

#selected-language {
  background-color: #387478;
  color: #fff;
}

.output-head {
  border-top: 1px solid rgba(135, 135, 138, 0.2);
  border-bottom: 1px solid rgba(135, 135, 138, 0.2);
  margin: 0;
  font-weight: 100;
  text-transform: uppercase;
  padding: 5px 0;
}
